<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApiConfiguration" type="Itinero.Logistics.API.Configurations.ApiConfiguration, Itinero.Logistics.API"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <ApiConfiguration>
    <instances>
      <add name="default" routerdb="D:\work\data\OSM\routing\planet\europe\germany.p.pf.routing"/>
    </instances>
  </ApiConfiguration>
</configuration>
